<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Main Menu</h2>
            <p><small>Time Table Management System</small></p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4>Working Days</h4>
            <p><small>Navigate to working days management views from here.</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['works/add']">Add Working Days</a>
        </div>

        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['works/manage']">View Working Days</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4>Lecturers</h4>
            <p><small>Navigate to lecturers management views from here.</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['lecturers/add']">Add Lecturers</a>
        </div>

        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['lecturers/manage']">View/Manage Lecturers</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4>Subjects</h4>
            <p><small>Navigate to subject management views from here.</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['subjects/add']">Add Subject</a>
        </div>

        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['subjects/manage']">View/Manage Subjects</a>
        </div>
    </div>


    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4>Student Groups</h4>
            <p><small>Navigate to student group management views from here.</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['students/groups']">Manage Student Group</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4>Tags</h4>
            <p><small>Navigate to tag management views from here.</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['tags/manage']">Manage Tags</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4>Locations</h4>
            <p><small>Navigate to location management views from here.</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['locations/buildings']">Buildings</a>
        </div>
        <div class="col-md-2">
            <a mat-flat-button color="primary" [routerLink] = "['locations/rooms']">Rooms</a>
        </div>
    </div>


</div>

